#contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 9px;
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 54%;
    background-color: rgb(55, 69, 107);
    overflow: hidden;
    margin-top: 140px;
    color: rgb(252, 185, 122);
}

#main{
    height: 80%;
    width: auto;
}

#contact-form div {
    flex: 1;
}

#contact-form img {
    width: 40%;
    height: 100%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#contact-form ::placeholder{
    color: rgb(252, 185, 122);
    font-weight: bold;
}

#contact-form input, #contact-form textarea{
    width: 50%; 
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    border-radius: 10pc;
    margin-left: 90px;
    border: none;
}

#contact-form button {
    background-color: rgb(252, 185, 122);
    color: white;
    border: none;
    cursor: pointer;
    width: 50%; 
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10pc;
    margin-left: 100px;
    margin-bottom: 10px;
}

#main h1,
#main h2 {
    text-align: center;
}


